<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/single_layout}"
    xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <form class="multiUpdateForm">
        <table class="table table-bordered text-center mb-0">
            <colgroup>
                <col width="110px" />
                <col />
                <col width="110px" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th>대행의뢰처</th>
                    <td colspan="3">
                        <div class="input-group">
                            <input type="text" class="form-control agcyAgent agcyAgentInput"
                                   placeholder="변경 없으면 비워두세요 / 엔터 또는 조회" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary searchAgcyAgent">조회</button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>교정일자</th>
                    <td>
                        <input type="date" class="form-control caliDate" />
                    </td>
                    <td colspan="2" class="text-left align-middle">
                        <small class="text-muted">입력하지 않은 항목은 변경되지 않습니다.</small>
                    </td>
                </tr>
                <tr>
                    <th>중분류</th>
                    <td>
                        <select class="form-control middleItemCodeId"></select>
                    </td>
                    <th>소분류</th>
                    <td>
                        <select class="form-control smallItemCodeId"></select>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

</html>
