<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/single_layout}"
    xmlns:th="http://www.thymeleaf.org">

<body>
    <div layout:fragment="content">
        <div class="modal-view modal-body">

            <div class="mb-3">
                <label class="form-label fw-bold">반려사유 <span class="text-danger">*</span></label>
                <textarea class="form-control" id="rejectReason" rows="6"
                    style="resize:none;" placeholder="반려 사유를 입력하세요."></textarea>
            </div>

        </div>
    </div>
</body>

</html>